/*body*/
/*header*/
/*footer*/
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital@0;1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*index.html*/
html {
  font-size: 62.5%;
}

body {
  font-family: "Crimson Text", serif;
  font-size: 16px;
  color: #2A363B;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*header*/
header {
  background-color: #99B898;
}

/*barra de busqueda*/
.section-search {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.section-search input {
  width: 60%;
  height: 3rem;
  margin-top: 10px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 3px;
}
.section-search .a-buscar a {
  margin-left: 10px;
  padding: 5px;
}
.section-search .a-buscar a img {
  width: 4.5rem;
  height: 4.5rem;
}
.section-search .a-buscar a img:hover {
  scale: 1.1;
}

/*banner index*/
.banner {
  width: 100%;
  margin-bottom: 10rem;
}
.banner a {
  align-self: center;
  justify-self: center;
}
.banner img {
  width: 100%;
  height: 25rem;
}
.banner img:hover {
  border: 5px solid black;
  box-shadow: 10px -10px #f49c55;
  transition: 0.3s;
}

/*Pagina 2---iphone---*/
.iphone {
  display: flex;
  font-size: 2.5rem;
  align-content: center;
  justify-content: start;
  margin-top: 2rem;
  margin-left: 1rem;
}
.iphone p {
  font-size: 1.8rem;
}
.iphone a {
  color: #2A363B;
  font-size: 1.8rem;
}
.iphone a::after {
  content: ">";
  margin-left: 10px;
  margin-right: 5px;
}

/*Pagina-4 Soporte Tecnico */
.servicio {
  width: 100%;
  height: 20rem;
  margin-bottom: 40rem;
}
.servicio .img-tecnico {
  text-align: center;
}
.servicio h3 {
  text-align: center;
  margin-top: 40px;
  font-size: 24px;
}
.servicio .turno {
  grid-column: 1/2;
  grid-row: 4/5;
  text-align: center;
  margin-top: 40px;
}
.servicio .turno a {
  background-color: #141e61;
  color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 7px green;
  padding: 6px;
}
.servicio .turno a:hover {
  background-color: green;
  box-shadow: 5px 5px 7px #141e61;
}

.apple h2 {
  text-align: center;
  margin-top: 20px;
  font-size: 32px;
}

.imac h3 {
  text-align: center;
  margin-top: 20px;
  font-size: 2.4rem;
}

.slide-frame {
  width: 400px;
  height: 300px;
  margin: 50px auto 0;
  overflow: hidden;
}
.slide-frame img {
  width: 100%;
}
.slide-frame ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: slide 15s infinite alternate ease-in-out;
}
.slide-frame li {
  list-style: none;
  width: 100%;
}

@keyframes slide {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
/*Pagina-5 Login*/
.banner-01 {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: center;
  margin-top: 8rem;
  margin-bottom: 4rem;
}
.banner-01 img {
  width: 100%;
  height: 12rem;
}
.banner-01 img:hover {
  width: 90% rem;
  height: 13rem;
  border-radius: 10rem;
}

.login {
  margin-top: 4rem;
  margin-bottom: 0;
  width: 100%;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login form {
  border: 4px solid #141e61;
  border-radius: 10px;
  padding: 4rem;
}
.login form label {
  font-size: 2.4rem;
}
.login input {
  width: 90%;
  padding: 10px;
  border: 2px solid #141E61;
  border-radius: 1rem;
  margin: auto;
}
.login .btn {
  width: 50%;
  height: 4rem;
  margin-top: 2rem;
}
.login .btn button {
  width: 100%;
  font-size: 2rem;
  background-color: #141E61;
  color: white;
  box-shadow: 5px 5px 7px green;
}
.login .btn button:hover {
  background-color: green;
  box-shadow: 5px 5px 7px #141E61;
}

.olvidaste {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 50px;
}
.olvidaste a {
  color: blue;
  padding: 20px;
  font-style: italic;
  font-size: 2.5rem;
  margin-top: 0px;
}
.olvidaste a:hover {
  text-decoration: underline;
}

.newsletter {
  width: 100%;
  height: 10rem;
  display: grid;
  grid-template-columns: 60% 40%;
}
.newsletter .suscribe {
  grid-column: 1/2;
  text-align: center;
  font-size: 2.5rem;
}
.newsletter .suscribe-1 {
  grid-column: 2/3;
  display: flex;
}
.newsletter .suscribe-1 input {
  width: 75%;
  height: 3rem;
  border: 2px solid #371B58;
  border-radius: 1rem;
  padding: 2px;
  font-size: 2rem;
}
.newsletter .suscribe-1 .sus a {
  height: 3rem;
  border-radius: 1rem;
  font-size: 2rem;
  padding: 2px;
  background-color: green;
  color: white;
  box-shadow: 5px 5px 7px #141e61;
}
.newsletter .suscribe-1 .sus a:hover {
  background-color: #141E61;
  box-shadow: 5px 5px 7px green;
}

/*barra de navegacion*/
.navbar-nav a:hover {
  border-bottom: 1.5px solid black;
  scale: 1.1;
}

/*cards de productos*/
.card img {
  transition-property: transform;
  transition: 0.3s;
}

.card img:hover {
  scale: 1.1;
}

h1:hover, h2:hover {
  scale: 1.2;
}

/*footer*/
footer img:hover {
  scale: 1.1;
}

/*media query 1000*/
@media (max-width: 1000px) {
  .section-search img {
    width: 4rem;
    height: 4rem;
  }
  .banner img {
    width: 100%;
    height: 20rem;
  }
  .newsletter {
    display: none;
  }
}
/*media query 768*/
@media (max-width: 768px) {
  .img-tecnico img {
    width: 350px;
  }
}
/*media query 710*/
@media (max-width: 710px) {
  .banner img {
    width: 100%;
    height: 15rem;
  }
}
/* media querry 600*/
@media (max-width: 600px) {
  .banner img {
    width: 100%;
    height: 10rem;
  }
  .olvidaste a {
    font-size: 2rem;
  }
}
/*tipografia html*/

/*# sourceMappingURL=style.css.map */
