
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@0;1&display=swap');

/*
body: font-family 'Crimson Text', serif;
    color #2A363B;
.logo:background-color #99B898; 
.container: background-color #E8E2E2;







*/




*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/*index.html*/

html{
    font-size: 62.5%;  
    }

body{
    font-family: 'Crimson Text', serif;
    font-size: 16px;
    color: #2a363b;
}

header{
    max-width: 100%;
    height: 13rem;
}

@media (max-width: 710px){
    header{
        height: 13rem;
    }
}

@media (max-width: 600px){
    header{ 
        height: 25rem;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        display: grid;
        grid-template-rows: 30% 1fr;
        }
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #2a363b;
}

.logo{
    background-color: #99B898;
    text-align: center;
    width: 100%;
    height: 8rem;
    
}

.logo h1{
        font-size: 6rem;
        font-weight: bold;
        
}

@media (max-width: 600px){
    .logo{ 
        grid-column: 1/2;
        text-align: center; 
        }
}

.conteiner{
    background-color: #E8E2E2;
    width: 100%;
    height: 5rem;
}

@media (max-width: 600px){
    .conteiner{
        height: 16rem;
    }
}

.nav-menu{
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
}

.nav-menu a{
    font-size: 2.5rem;
    text-decoration: none;
    font-weight: bold;
}

@media (max-width: 600px){
    .nav-menu{
        display: grid;
        text-align: center;
        gap: 0.5rem;
    }
}

.nav-menu a:hover{
    border: 4px solid #2a363b;
    background-color: #99B898;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: 0.3s;
    padding: 2px;
}

.section-search{
    width: 100%;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 70% 1fr;
    grid-template-rows: auto;
}

.section-search input{
    width: 60%;
    height: 3rem;
    margin-top: 10px;
    grid-column: 1/2;
    justify-self: flex-end;
    border: 2px solid black;
    border-radius: 10px;
    padding: 3px;
}

.section-search .a-buscar a{
    grid-column: 2/3;
    margin-left: 10px;
    padding: 5px;
}

.section-search img{
    width: 4.5rem;
    height: 4.5rem;
}

@media (max-width: 1000px){
    .section-search img{
        width: 4rem;
        height: 4rem;
    }
}

.section-search img:hover{
    width: 5rem;
    height: 5rem;
}

.section-image{
    
    width: 100%;
    height: 60rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

@media (max-width: 1000px){
    .section-image{
        height: 50rem;
    }
}

@media (max-width: 710px){
    .section-image{
        height: 40rem;
    }
}

@media (max-width: 600px){
    .section-image{
    height: 60rem;
    grid-template-columns: 1fr;
    grid-row: 1fr 1fr; 
    }
}

.section-image img{
    width: 50rem;
    height: 45rem;
}

@media (max-width: 1000px){
    .section-image img{
        width: 35rem;
        height: 30rem;
    }
}

@media (max-width: 710px){
    .section-image img{
        width: 30rem;
        height: 25rem;
    }    
}

.section-image .img-3{
    grid-column: 1/2;
    align-self: center;
    justify-self: center;
}

@media (max-width: 600px){
    .section-image .img-3{
        grid-column: 1/2;
        grid-row: 1/2;
    }    
}

.section-image .img-1{
    grid-column: 2/3;
    align-self: center;
    justify-self: center;
}

@media (max-width: 600px){
    .section-image .img-1{
        grid-column: 1/2;
        grid-row: 2/3;
    }    
}

.section-image img:hover{
    border: 15px solid #F9F54B;
    border-top-right-radius: 6px;
    transition: 0.3s;
}

.section-center{
    width: 100%;
    height: 4rem;
    margin-bottom: 10rem;
   
}

@media (max-width: 600px){
    .section-center{
        height: 8rem;
    }
}
.section-center ul{
    width:100%;
    display: flex;
    justify-content: space-around;
}

@media (max-width:600px){
    .section-center ul{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

.section-center ul li a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
   
}

.section-center ul li a:hover{
    border-bottom: 4px solid black;
    padding: 2px;
    transition: 0.2s;
}

.section-center ul li{
    text-align: center;
}

@media (max-width:600px){
    .section-center ul{
        gap: 2rem;
    }
}

.banner{
    width: 100%;
    margin-bottom: 10rem;
}

.banner img{
    width: 100%;
    height: 25rem;
}

@media (max-width: 1000px){
    .banner img{
        width: 100%;
        height: 20rem;
    }
}

@media (max-width: 710px){
    .banner img{
        width: 100%;
        height: 15rem;
    }
}

@media (max-width: 600px){
    .banner img{
        width: 100%;
        height: 10rem;
    }
}

.banner img:hover{
    border: 5px solid black;
    box-shadow: 10px -10px #FD841F;
    transition: 0.3s;
}

.banner a{
    grid-column: 1/2;
    align-self: center;
    justify-self: center;
}

.btn{
    width: 100%;
    height: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 10rem;
}

.btn a{
    grid-column: 1/2;
    align-self: center;
    justify-self: center;
    text-align: center;
    font-size: 2.5rem;
    border: 2px solid black;
    border-radius: 10px;
    padding: 2px;
    box-shadow: 5px -5px #1A120B;
    text-decoration: none;
}

.btn a:hover{
    padding: 6px;
    background-color: #1A120B;
    color: white;
    transition: 0.5s;
}

.footer-container{
    width: 100%;
    height: 6rem;
    background-color: #E5E5CB;
}

.ul-footer{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-self: center;
    justify-self: center;
   
}

.ul-footer img{
    width: 3.5rem;
    height: 3.5rem;
}

@media (max-width: 1000px){
    .ul-footer{
        height: 4;
    }
}

@media (max-width: 1000px){
    .ul-footer img{
        width: 3rem;
        height: 3rem;
    }
}

.w{
    grid-column: 1/2;
    align-self: center;
    justify-self: center;
}

.t{
    grid-column: 2/3;
    align-self: center;
    justify-self: center;
}

.i{
    grid-column: 3/4;
    align-self: center;
    justify-self: center;
}

.f{
    grid-column: 4/5;
    align-self: center;
    justify-self: center;
}

.cr{
    grid-column: 5/6;
    align-self: center;
    justify-self: center;
}

.ul-footer img:hover{
    width: 6rem;
    height: 6rem;
}

/*pagina-2 login*/

.logo-2{
    background-color: #99B898;
    text-align: center;
    width: 100%;
    height: 8rem;
}

.logo-2 a{
    color: #2a363b;
    font-size: 6rem;
    margin-left: 20px;
}

.logo-2 a:hover{
    border-left: 4px solid #E8E2E2;
    
}

.banner-01 {
    width: 100%;
    height: 10rem;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
    margin-top: 8rem;
    margin-bottom: 4rem;
}

.banner-01 img{
    width: 100%;
    height: 12rem;
    grid-column: 1/2;
    grid-row: 1/2;
}

.banner-01 img:hover{
    width: 90%rem;
    height: 13rem;
    border-radius: 10rem;
}



.login{
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 100%;
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    border: 4px solid #141e61;
    border-radius: 10px;
    padding: 4rem;
}

label{
    font-size: 2.5rem;
}

.login input{
    width: 90%;
    padding: 10px;
    border: 2px solid #141E61;
    border-radius: 1rem;
    margin: auto;
}

button{
    width: 15rem;
    height: 3rem;
    background-color: black;
    color: white;
    border-radius: 10rem;
    font-size: 2.5rem;
    margin-top: 3rem;
}

button:hover{
    width: 20rem;
    height: 3.5rem;
    font-size: 3rem;
}
.olvidaste{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 50px;
}

.olvidaste a{
    color: blue;
    padding: 20px;
    font-style: italic;
    font-size: 2.5rem;
    margin-top: 0px;
}

.olvidaste a:hover{
    text-decoration: underline;
}

.newsletter {
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    margin-bottom: 10rem;
    
}

@media(max-width: 1000px){
    .newsletter{
        width: 100%;
        height: 5rem;
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 2rem;
        margin-bottom: 15rem;
    }
}

.suscribe{
    width: 50%;
    height: 10rem;
    font-size: 2.5rem;
}

@media(max-width: 1000px){
    .suscribe{
        text-align: center;
        grid-row: 1/2;
        width: 80%;
        justify-content: center;
    }
}

.suscribe p{
    margin-left: 100px;
}
@media(max-width: 1000px){
    .suscribe p{
        font-size: 2rem;
    }
}
        
.suscribe-1{ 
    display: flex;
    width: 50%;
}

@media(max-width: 1000px){
    .suscribe-1{
        grid-row: 2/3;
        width: 100%;
        justify-content: center;        
    }
}

.suscribe-1 input{ 
    width: 60%;
    height: 3rem;
    border-radius: 1rem;
    padding: 4px;
}

.sus a{
    height: 3rem;
    border: 2px solid #371B58;
    border-radius: 1rem;
    font-size: 2rem;
    padding: 2px;
}

/*pagina-3 iphone*/

.iphone{
    display: flex;
    font-size: 2.5rem;
    align-content: center;
    justify-content: start;
    margin-top: 2rem;
    margin-left: 1rem;
}

@media(max-width:710px){
    .iphone{
        font-size: 2rem;
        justify-content: center;
    }
}

.iphone a:hover{
    border-bottom: 2px solid #371B58;
}

.iphone a::after{
    content: ">";
    margin-left: 10px;
    margin-right: 5px;
}

.image-i1{
    width: 100%;
    height: 70rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px 250px 50px;
}

@media(max-width: 1400px){
    .image-i1{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows:300px 250px 50px 300px 250px 50px;
        height: 140rem;
    }
}

@media(max-width: 1000px){
    .image-i1{
        grid-template-columns: 1fr 1fr;
        grid-template-rows:300px 250px 50px 300px 250px 50px;
        height: 140rem;
    }
}

@media(max-width: 710px){
    .image-i1{
        grid-template-columns: 1fr;
        grid-template-rows:300px 250px 50px 300px 250px 50px 300px 250px 50px 300px 250px 50px ;
        height: 250rem;
    }
}

.image-i1 img{
    width: 30rem;
    height: 30rem;
   
}

.purple{
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
}

.red{
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
}


@media(max-width: 710px){
    .red{
        grid-column: 1/2;
        grid-row: 4/5;
    }
}

.black{
    grid-column: 3/4;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
}

@media(max-width:1000px){
    .black{
        grid-column: 1/2;
        grid-row: 4/5;
        align-self: center;
        justify-self: center;
    }
}

@media(max-width: 710px){
    .black{
        grid-column: 1/2;
        grid-row: 7/8;
    }
}

.gold{
    grid-column: 4/5;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
}

@media(max-width:1400px){
    .gold{
        grid-column: 1/2;
        grid-row: 4/5;
        align-self: center;
        justify-self: center;
    }
}

@media(max-width:1000px){
    .gold{
        grid-column: 2/3;
        grid-row: 4/5;
        align-self: center;
        justify-self: center;
    }
}

@media(max-width: 710px){
    .gold{
        grid-column: 1/2;
        grid-row: 10/11;
    }
}

.d1{
    text-align: center;
    grid-column: 1/2;
    grid-row: 2/3;
}

.d2{
    text-align: center;
    grid-column: 2/3;
    grid-row: 2/3;
}

@media(max-width: 710px){
    .d2{
        grid-column: 1/2;
        grid-row: 5/6;
    }
}

.d3{
    text-align: center;
    grid-column: 3/4;
    grid-row: 2/3;
}

@media(max-width:1000px){
    .d3{
        grid-column: 1/2;
        grid-row: 5/6;
        align-self: center;
        justify-self: center;
    }
}

@media(max-width: 710px){
    .d3{
        grid-column: 1/2;
        grid-row: 8/9;
    }
}

.d4{
    text-align: center;
    grid-column: 4/5;
    grid-row: 2/3;
}

@media(max-width:1400px){
    .d4{
        grid-column: 1/2;
        grid-row: 5/6;
        align-self: center;
        justify-self: center;
    }
}


@media(max-width:1000px){
    .d4{
        grid-column: 2/3;
        grid-row: 5/6;
        align-self: center;
        justify-self: center;
    }
}


@media(max-width: 710px){
    .d4{
        grid-column: 1/2;
        grid-row: 11/12;
    }
}

.boton-comprar-1{
    text-align: center;
    align-self: center;
    grid-column: 1/2;
    grid-row: 3/4;
}

.boton-comprar-2{
    text-align: center;
    align-self: center;
    grid-column: 2/3;
    grid-row: 3/4;
}

@media(max-width: 710px){
    .boton-comprar-2{
        grid-column: 1/2;
        grid-row: 6/7;
    }
}

.boton-comprar-3{
    text-align: center;
    align-self: center;
    grid-column: 3/4;
    grid-row: 3/4;
}

@media(max-width:1000px){
    .boton-comprar-3{
        grid-column: 1/2;
        grid-row: 6/7;
        align-self: center;
        justify-self: center;
    }
}

@media(max-width: 710px){
    .boton-comprar-3{
        grid-column: 1/2;
        grid-row: 9/10;
    }
}

.boton-comprar-4{
    text-align: center;
    align-self: center;
    grid-column: 4/5;
    grid-row: 3/4;
}

@media(max-width:1400px){
    .boton-comprar-4{
        grid-column: 1/2;
        grid-row: 6/7;
        align-self: center;
        justify-self: center;
    }
}

@media(max-width:1000px){
    .boton-comprar-4{
        grid-column: 2/3;
        grid-row: 6/7;
        align-self: center;
        justify-self: center;
    }
}

@media(max-width: 710px){
    .boton-comprar-4{
        grid-column: 1/2;
        grid-row:12/13 ;
    }
}

.image-i1 a{
    border: 4px solid #0096FF;
    border-radius: 15px;
    box-shadow: 5px 5px 10px 10px #72FFFF;
    padding: 4px;
}

.image-i1 .tachado{
    text-decoration: line-through;
}

.image-i1 .cuotas{
    color: red;
}

/*pagina-4 ofertas*/

.ofertas-1{
    width: 100%;
    height: 70rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 35rem 20rem 7rem;
}

@media(max-width: 1500px){
    .ofertas-1{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows:300px 250px 50px 300px 250px 50px;
        height: 140rem;
    }
}


@media(max-width: 1000px){
    .ofertas-1{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows:300px 250px 50px 300px 250px 50px;
        height: 140rem;
    }
}

@media(max-width: 900px){
    .ofertas-1{
        grid-template-columns: 1fr;
        grid-template-rows:300px 250px 50px 300px 250px 50px 300px 250px 50px 300px 250px 50px;
        height: 190rem;
    }
}

@media(max-width: 710px){
    .ofertas-1{
        grid-template-columns: 1fr;
        grid-template-rows:300px 250px 50px 300px 250px 50px 300px 250px 50px 300px 250px 50px 300px 250px 50px;
        height: 300rem;
    }
}

.ofertas-1 a{
    border: 4px solid #0096FF;
    border-radius: 15px;
    box-shadow: 5px 5px 10px 10px #72FFFF;
    padding: 4px;
}

.ipad{
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
}

.airtags{
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
}


@media(max-width: 710px){
    .airtags{
        grid-column: 1/2;
        grid-row: 4/5;
    }
}

.blanco{
    grid-column: 3/4;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
}

@media(max-width:900px){
    .blanco{
        grid-column: 1/2;
        grid-row: 4/5;
    }
}

@media(max-width: 710px){
    .blanco{
        grid-column: 1/2;
        grid-row: 7/8;
    }
}

.rosa{
    grid-column: 4/5;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
}

@media(max-width:1200px){
    .rosa{
        grid-column: 1/2;
        grid-row: 4/5;
    }
}

@media(max-width:900px){
    .rosa{
        grid-column: 2/3;
        grid-row: 4/5;
    }
}


@media(max-width: 710px){
    .rosa{
        grid-column: 1/2;
        grid-row: 10/11;
    }
}

.negro{
    grid-column: 5/6;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
}

@media(max-width:1500px){
    .negro{
        grid-column: 1/2;
        grid-row: 4/5;
    }
}

@media(max-width:1200px){
    .negro{
        grid-column: 2/3;
        grid-row: 4/5;
    }
}

@media(max-width:900px){
    .negro{
        grid-column: 1/2;
        grid-row: 7/8;
    }
}

@media(max-width: 710px){
    .negro{
        grid-column: 1/2;
        grid-row: 13/14;
    }
}

.d5{
    text-align: center;
    grid-column: 1/2;
    grid-row: 2/3;
}

.d6{
    text-align: center;
    grid-column: 2/3;
    grid-row: 2/3;
}

@media(max-width: 710px){
    .d6{
        grid-column: 1/2;
        grid-row: 5/6;
    }
}

.d7{
    text-align: center;
    grid-column: 3/4;
    grid-row: 2/3;
}

@media(max-width:900px){
    .d7{
        grid-column: 1/2;
        grid-row: 5/6;
    }
}

@media(max-width: 710px){
    .d7{
        grid-column: 1/2;
        grid-row: 8/9;
    }
}

.d8{
    text-align: center;
    grid-column: 4/5;
    grid-row: 2/3;
}

@media(max-width:1200px){
    .d8{
        grid-column: 1/2;
        grid-row: 5/6;
    }
}

@media(max-width:900px){
    .d8{
        grid-column: 2/3;
        grid-row: 5/6;
    }
}

@media(max-width: 710px){
    .d8{
        grid-column: 1/2;
        grid-row: 11/12;
    }
}

.d9{
    text-align: center;
    grid-column: 5/6;
    grid-row: 2/3;
}

@media(max-width:1500px){
    .d9{
        grid-column: 1/2;
        grid-row: 5/6;
    }
}

@media(max-width:1200px){
    .d9{
        grid-column: 2/3;
        grid-row: 5/6;
    }
}

@media(max-width:900px){
    .d9{
        grid-column: 1/2;
        grid-row: 8/9;
    }
}

@media(max-width: 710px){
    .d9{
        grid-column: 1/2;
        grid-row: 14/15;
    }
}

.boton-comprar-5{
    text-align: center;
    align-self: center;
    grid-column: 1/2;
    grid-row: 3/4;
    margin-bottom: 10rem;
}

.boton-comprar-6{
    text-align: center;
    align-self: center;
    grid-column: 2/3;
    grid-row: 3/4;
    margin-bottom: 10rem;
}

@media(max-width: 710px){
    .boton-comprar-6{
        grid-column: 1/2;
        grid-row: 6/7;
    }
}

.boton-comprar-7{
    text-align: center;
    align-self: center;
    grid-column: 3/4;
    grid-row: 3/4;
    margin-bottom: 10rem;
}

@media(max-width:900px){
    .boton-comprar-7{
        grid-column: 1/2;
        grid-row: 6/7;
    }
}

@media(max-width: 710px){
    .boton-comprar-7{
        grid-column: 1/2;
        grid-row: 9/10;
    }
}

.boton-comprar-8{
    text-align: center;
    align-self: center;
    grid-column: 4/5;
    grid-row: 3/4;
    margin-bottom: 10rem;
}

@media(max-width:1200px){
    .boton-comprar-8{
        grid-column: 1/2;
        grid-row: 6/7;
    }
}

@media(max-width:900px){
    .boton-comprar-8{
        grid-column: 2/3;
        grid-row: 6/7;
    }
}

@media(max-width: 710px){
    .boton-comprar-8{
        grid-column: 1/2;
        grid-row: 12/13;
    }
}

.boton-comprar-9{
    text-align: center;
    align-self: center;
    grid-column: 5/6;
    grid-row: 3/4;
    margin-bottom: 10rem;
}

@media(max-width:1500px){
    .boton-comprar-9{
        grid-column: 1/2;
        grid-row: 6/7;
    }
}

@media(max-width:1200px){
    .boton-comprar-9{
        grid-column: 2/3;
        grid-row: 6/7;
    }
}

@media(max-width:900px){
    .boton-comprar-9{
        grid-column: 1/2;
        grid-row: 9/10;

    }
}

@media(max-width: 710px){
    .boton-comprar-9{
        grid-column: 1/2;
        grid-row: 15/16;
    }
}

/*pagina-5 soporte-tecnico*/

.servicio{
    
    width: 100%;
    height: 40rem;
    margin-bottom: 40rem;
}

.titulo h2{
    text-align: center;
    margin-top: 20px;
    font-size: 32px;
}

.img-tecnico{
    text-align: center;
}

@media(max-width:768px){
    .img-tecnico img{
        width: 350px
    }
}

.des-h3 h3{;
    text-align: center;
    margin-top: 40px;
    font-size: 24px;
}

.turno{
    grid-column: 1/2;
    grid-row: 4/5;
    text-align: center;
    margin-top: 40px;
}

.turno a{
    border: 3px solid black;
    border-radius: 10px;
    padding: 6px;
}

.turno a:hover{
    background-color: black;
    color: white;
    font-size: 20px;
}


