/*media query 710*/

@media (max-width: 710px){
    .banner img{
        width: 100%;
        height: 15rem;
    }
    .mierror{
        .error-2{
            ul{
                margin-top: 30rem;
            }
        }
    }
}