
@media (max-width: 380px){
    .mierror{
        .error-2{
            p{
                font-size: 2.2rem;
                margin-top: 2rem;
            }
            ul{
                margin-top: 15rem;
            }
        }
    }
}