

.mierror{
    width: 100%;
    height: 100vh;
    color: red;
    
    .pagina404{
        width: 100%;
        height: 10rem;
        display: block;
        justify-content: center;
        align-items: center;
        h1{
            font-size: 5rem;
            text-align: center;
        }
        img{
            width: 100%;
            height: 400px;
            
        }
        h2{
            text-align: center;
        }
        p{
            text-align: center;
            font-size: 2.4rem;
        }
        ul{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            margin-top: 2rem;
            li{
                a{
                    color:rgb(12, 105, 12);
                }
            }
        }
    }
   
}





