

.mierror{
    width: 100%;
    height:100%;
}
.pagina404{
    width: 100%;
    height: 50%;
    background-color: black;
    flex-wrap: wrap;
    div{
        h1{
            color: red;
            text-align: center;
            padding: 2rem;
            font-size: 3.6rem;
        }
    }
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            width: 450px;
            height: 350px;
            &:hover{
                scale: (1.1);
            }
        }
    }
    div{
        h2{
            color: red;
            padding: 2rem;
            font-size: 2.8rem;
        }
    }
}

.error-2{
    width: 100%;
    height: 50%;
    background-color: lightcoral;
    flex-wrap: wrap;
    p{
        font-size: 3.2rem;
        margin-left: 2rem;
        text-decoration: underline;
    }
    ul{
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
        li{
            text-align: center;
            a{
                font-size: 2.4rem;
                
            }
            &:hover{
                scale: (1.1);
            }
        }
    }
}


