
/*Pagina-5 Login*/




.login{
    margin-top: 4rem;
    margin-bottom: 0;
    width: 100%;
    height: 4auto;
    display: flex;
    justify-content: center;
    align-items: center;
    form{
        border: 4px solid #141e61;
        border-radius: 10px;
        padding: 4rem;
        label{
            font-size: 2.4rem;
        }
    }
    input{
        width: 90%;
        padding: 10px;
        border: 2px solid #141E61;
        border-radius: 1rem;
        margin: auto;
    }
    .btn{
        width: 100%;
        height: 4rem;
        margin-top: 2rem;
        button{
            @include boton (#141E61, 5px 5px 7px green, white);
            width: 100%;
            font-size: 2rem;
            &:hover{
                background-color: green;
                box-shadow: 5px 5px 7px #141E61;
            }
        }
    }
}
.olvidaste{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 50px;
    a{
        color: blue;
        padding: 20px;
        font-style: italic;
        font-size: 2.5rem;
        margin-top: 0px;
        &:hover{
            text-decoration: underline;
        }
    }
}
.newsletter {
    width: 100%;
    height: 10rem;
    display: grid;
    grid-template-columns: 60% 40%;
    .suscribe{
        grid-column: 1/2;
        text-align: center;
        font-size: 2.5rem;
    }
    .suscribe-1{ 
        grid-column: 2/3;
        display: flex;
        
        input{ 
            width: 75%;
            height: 3rem;
            border: 2px solid #371B58;
            border-radius: 1rem;
            padding: 2px;
            font-size: 2rem;
        }
        .sus{ 
            a{  
                @include boton (green, 5px 5px 7px #141E61, white);
                height: 3rem;
                border-radius: 1rem;
                font-size: 2rem;
                padding: 2px;
                &:hover{
                    background-color: #141E61;
                    box-shadow: 5px 5px 7px green;
                }
            }   
        }
    }
}

.slide-frame{
    width: 320px;
    height: 320px;
    margin: 50px auto 0;
    overflow: hidden;
    box-shadow: 5px 5px 7px #464545;
    img{
        width: 100%;
       
    }
    ul{
        display: flex;
        padding: 0;
        width: 400%;
        animation: slide 10s infinite alternate ease-in-out;
    }
    li{
        list-style: none;
        width: 100%;
    }
}

@keyframes slide{
    0%{
        margin-left: 0;
    }
    20%{
        margin-left: 0;
    }
    25%{
        margin-left: -100%;
    }
    45%{
        margin-left: -100%;
    }
    50%{
        margin-left: -200%;
    }
    70%{
        margin-left: -200%;
    }
    75%{
        margin-left: -300%;
    }
    100%{
        margin-left: -300%;
    }
    
}