/*barra de busqueda*/
.section-search{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;

    input{
        width: 90%;
        height: 3rem;
        margin-top: 10px;
        border: 2px solid black;
        border-radius: 10px;
        
    }
    .a-buscar{
        a{
            margin-left: 10px;
            padding: 5px;
            img{
            width: 4.5rem;
            height: 4.5rem;
        
            }
        }
    }
}

.banner-index{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    img{
        width: 100%;
        height: auto;
        
    }
}